.body {
  background: url("https://therealdonaldtrumpet.github.io/trumpet.jpg") no-repeat center fixed;  
background-size: contain;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
