.body {
  background-image: url("http://therealdonaldtrumpet.github.io/trumpet.jpg"); 
  background-repeat: no-repeat;
background-size: contain;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
